
<!-- <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre> -->
<div class="professor-home">
    <h2>Hi Professor {{user.username}}</h2>
    <div class="sections"s>
        <!-- Org Section -->
        <section class="orgs section">
            <div class="section-header ">
                <div>
                    <h4>Your Orgs</h4> 
                    <div class="professor-orgs">
                        <!-- <h4> {{professor}}</h4> -->
                        <ul>
                            {% for professor_org in professor_orgs %}
                                <li>{{professor_org.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
                
                <button class="subject-add-btn add-form-btn">Add</button>
            </div>
        <div class="orgs-add-section add-form">
            <div class="add-form-content">
                <span class="close-span">X</span>
                    <h3>Join an Org</h3>
                    <form action="/hrma/professorDashboard" method="POST">
                        {% csrf_token %}
                        {{ add_org_form }}
                        <button type="submit" name="add_org_form"> Join! </button>
                    </form>
            </div>
            
        </div>
        <div class="user-subjects-list">
        </div>
        </section>

        <!-- Subject Section -->
        <section class="subjects section">
            <div class="section-header ">
                <h4>Your Subjects</h4> <button class="subject-add-btn add-form-btn">Add</button>
            </div>
        <div class="subject-add-section add-form">
            <div class="add-form-content">
                <span class="close-span">X</span>
                    <h3>Add a Subject</h3>
                    <form action="/hrma/professorDashboard" method="POST">
                        {% csrf_token %}
                        <label for="id_organizations">Organizations</label>
                        <select name="organization" required id="id_organizations_subjects">
                            <option value selected >--------</option>
                            {% for org in add_subject_form.organizations.field.queryset %} 
                                <option value="{{org.name}}">{{org.name}}</option> 
                            {% endfor %}
                        </select>
                        <label for="id_subjects">Subjects</label>
                        <select name="subject" required id="id_subjects">
                            <option value="{{subject.id}}" class="initialOpt" selected>------</option>

                            {% for subject in add_subject_form.subjects.field.queryset %}
                                <option value="{{subject.id}}" id="{{subject.organization}}">{{subject.name}}</option>
                            {% endfor %}
                        </select>
                        <!-- {{ add_subject_form }} -->
                        <button type="submit" name="add_subject_form"> Join! </button>
                    </form>
            </div>
            
        </div>
        <div class="user-subjects-list">
        </div>
        </section>
    </div>

    <section class="courses-section section">
        <div class="section-header">
            <h2>Your Courses</h2> 
            <button class="course-add-btn add-form-btn">Add</button>
        </div>
    <div class="course-add-section" style="background-color: beige;">
        
    </div>
        <div class="user-courses-list">
            <div class="single-course">
                <h4 class="course-subject">Linear Algebra</h4>
                <h2 class="course-title">LALG-4040</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Linear Algebra</h4>
                <h2 class="course-title">LALG-4041</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Linear Algebra</h4>
                <h2 class="course-title">LALG-4042</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus I</h4>
                <h2 class="course-title">CALI-4052</h2>
            </div>
            <!-- <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2> -->
        </div>
    </section>
    
    
    </div>
</div>