
<div class="professor-home">
    <h2>Hi Professor {{user.username}}</h2>
    <div class="sections"s>
        <!-- Org Section -->
        <section class="orgs section">
            <div class="section-header">
                <div class="orgs-section-header">
                    <h4>Your Orgs</h4> 
                </div>
                <button class="subject-add-btn add-form-btn">Add</button>
            </div>
        <div class="orgs-add-section add-form">
            <div class="add-form-content">
                <span class="close-span">X</span>
                    <h3>Join an Org</h3>
                    <form action="/hrma/professorDashboard" method="POST">
                        {% csrf_token %}
                        {{ add_org_form }}
                        <button type="submit" name="add_org_form"> Join! </button>
                    </form>
            </div>
            
        </div>
        <div class="user-subjects-list">
        </div>
        </section>

        <!-- Subject Section -->
        <section class="subjects section">
            <div class="section-header">
                <div class="subjects-section-header">
                    <h4>Your Subjects</h4> 
                </div>
                <button class="subject-add-btn add-form-btn">Add</button>
            </div>
        <div class="subject-add-section add-form">
            <div class="add-form-content">
                <span class="close-span">X</span>
                    <h3>Add a Subject</h3>
                    <form action="/hrma/professorDashboard" method="POST">
                        {% csrf_token %}
                        <label for="id_organizations">Organizations</label>
                        <select name="organization" required id="id_organizations_subjects">
                            <option value selected >--------</option>
                            {% for org in add_subject_form.organizations.field.queryset %} 
                                <option value="{{org.name}}">{{org.name}}</option> 
                            {% endfor %}
                        </select>
                        <label for="id_subjects">Subjects</label>
                        <select name="subject" required id="id_subjects">
                            <option value="{{subject.id}}" class="initialOpt" selected>------</option>

                            {% for subject in add_subject_form.subjects.field.queryset %}
                                <option value="{{subject.id}}" id="{{subject.organization}}">{{subject.name}}</option>
                            {% endfor %}
                        </select>
                        <!-- {{ add_subject_form }} -->
                        <button type="submit" name="add_subject_form"> Join! </button>
                    </form>
            </div>
            
        </div>
        <div class="user-subjects-list">
        </div>
        </section>
    </div>
    <!-- FILTERS -->
    <div class="filters-section">
        <div class="single-filter-section professor-orgs">
            {% for professor_org in professor_orgs %}
            <div class="single-professor-org single-filter" id="{{professor_org.name}}">
                <p>{{professor_org.name}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="single-filter-section professor-subjects">
            {% for subject in professor_subjects %}
            <div class="single-professor-subject single-filter" id="{{subject.name}}">
                <p>{{subject.name}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    

    <section class="courses-section section">
        <div class="section-header">
            <h2>Your Courses</h2> 
            <button class="course-add-btn add-form-btn">Add</button>
        </div>
    <div class="course-add-section add-form" style="background-color: beige;">
        <div class="add-form-content">
                <span class="close-span">X</span>
                    <h3>Add Course</h3>
                    <form action="/hrma/professorDashboard" method="POST">
                        {% csrf_token %}
                        <label for="id_organizations">Organization</label>
                        <select name="organization" required id="id_organizations_subjects">
                            <option value selected >--------</option>
                            {% for org in add_course_form.organizations.field.queryset %} 
                                <option value="{{org.name}}">{{org.name}}</option> 
                            {% endfor %}
                        </select>
                        <label for="id_subjects">Subject</label>
                        <select name="subject" required id="id_subjects">
                            <option value="{{subject.id}}" class="initialOpt" selected>------</option>

                            {% for subject in add_course_form.subjects.field.queryset %}
                                <option value="{{subject.id}}" id="{{subject.organization}}">{{subject.name}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <div class="add-course-form-course">
                            <label for=id_course>Course</label>
                            <input type="text" name="course" label="Course" required id="id_course">
                            <br>
                            <button type="submit" name="add_course_form"> Add Course! </button>
                        </div>
                    </form>
            </div>
    </div>
        <div class="user-courses-list">
            {% for course in professor_courses %}
            <div class="single-course" id="{{course.subject.organization}}_{{course.subject}}">
                <h5>{{course.subject.organization}}</h5>
                <h4 class="course-subject">{{course.subject}}</h4>
                <h2 class="course-title">{{course.course_name}}</h2>
            </div>
            {% endfor %}
           
        </div>
    </section>
    
    
    </div>
</div>