<div class="professor-home">
    <h2>Hi Professor {{user.username}}</h2>
    <section class="subjects">
        <h2>Your Subjects</h2> <button>Add</button>
    <div class="subject-add-section">
            <select>
                <option selected>All</option>
                <option>Calculus I</option>
                <option>Calculus II</option>
                <option>Calculus III</option>
                <option> Linear Algebra</option>
            </select>
    </div>
    <div class="user-courses-list">
    </div>
    </section>
    <section class="courses-section">

    </section>
    <h2>Your Courses</h2> <button>Add</button>
    <div class="course-add-section">
            
    </div>
    <div class="user-courses-list">
        <div class="single-course">
            <h4 class="course-subject">Linear Algebra</h4>
            <h2 class="course-title">LALG-4040</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Linear Algebra</h4>
            <h2 class="course-title">LALG-4041</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Linear Algebra</h4>
            <h2 class="course-title">LALG-4042</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Calculus I</h4>
            <h2 class="course-title">CALI-4052</h2>
        </div>
        <!-- <div class="single-course">
            <h4 class="course-subject">Calculus III</h4>
            <h2 class="course-title">CALIII-4052</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Calculus III</h4>
            <h2 class="course-title">CALIII-4052</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Calculus III</h4>
            <h2 class="course-title">CALIII-4052</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Calculus III</h4>
            <h2 class="course-title">CALIII-4052</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Calculus III</h4>
            <h2 class="course-title">CALIII-4052</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Calculus III</h4>
            <h2 class="course-title">CALIII-4052</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Calculus III</h4>
            <h2 class="course-title">CALIII-4052</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Calculus III</h4>
            <h2 class="course-title">CALIII-4052</h2>
        </div>
        <div class="single-course">
            <h4 class="course-subject">Calculus III</h4>
            <h2 class="course-title">CALIII-4052</h2> -->
        </div>
    </div>
</div>