
:root{
    --color-primary: #00887A;
    --color-secondary: #FFCCBC;
    --first-background: #FFFFFF;
    --second-background: #D3E3FC;
    --third-background: #77A6F7;
}
body{
    margin: auto;
    width: 90%;
    form{
        margin:inherit;
        width: inherit;
    }
    
    
}
.login-btn{
    background-color: var(--color-primary);
    a{
        color: var(--first-background);
        text-decoration: none;
    }
}
.logout-btn{
    background-color: var(--color-secondary);
    a{
        color: var(--first-background);
        text-decoration: none;
    }
}


.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        font-family: 'Tapestry', cursive;
        font-weight: 200;
    }
}

.user-courses-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px 40px;
    background-color: var(--second-background);
    .single-course{
        height: 8.5rem;
        width: 10.5rem;
        border-radius: 5px;
        padding: 5px 5px;
        margin: 30px;
        background-color: var(--third-background);
        h4{
            margin:0 2px;
            color: rgb(80, 79, 79);
        }
        h2{
            padding: 0;
            margin:0;
        }
    }
}

.section{
    display: flex;
    flex-direction: column;
    .section-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        // padding: 20px;
        button{
            height: 20px;
            background-color: var(--second-background);
            margin-left: 10px;
        }
    }
    
}

.add-form{
    display:none;
    position:fixed;
    // height: 50vh;
    // width: 50vh;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    // transform: translateY(50%);
    // display: flex;
    flex-direction: column;
    // padding: 10px 40px;
    padding: 0;
    h3{
        display: inline;
        padding: 0;
        margin: 0 0 10px 0;
    }
   
}
.add-form-content{
    // position: relative;
    padding: 20px;
    background-color: var(--color-secondary);
    span{
        position:absolute;
        top:2px;
        right:5px;
        &:hover{
            cursor:pointer;
        }
    }
}

//Sections
.sections{
    display: flex;
    flex-direction: row;
    justify-content: start;
    section{
        padding: 0 50px 0 0;
    }
}

//Forms
select#id_subjects{
    option{
        display: none;
        .iniitialOpt{
            display:block;
        }
    }
}

