:root {
  --color-primary: #00887A;
  --color-secondary: #FFCCBC;
  --first-background: #FFFFFF;
  --second-background: #D3E3FC;
  --third-background: #77A6F7;
}

body {
  margin: auto;
  width: 90%;
}

body form {
  margin: inherit;
  width: inherit;
}

.logout-btn {
  background-color: var(--color-secondary);
}

.logout-btn a {
  color: var(--first-background);
  text-decoration: none;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content h1 {
  font-family: 'Tapestry', cursive;
}

.user-courses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 40px;
  background-color: var(--second-background);
}

.user-courses-list .single-course {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 17%;
          flex: 1 0 17%;
  height: 8.5rem;
  width: 7.5rem;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 30px;
  background-color: var(--third-background);
}

.user-courses-list .single-course h4 {
  margin: 0 2px;
  color: #504f4f;
}

.user-courses-list .single-course h2 {
  padding: 0;
  margin: 0;
}

.user-courses-list .single-course h5 {
  margin: 0 2px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section .section-header button {
  height: 20px;
  background-color: var(--second-background);
  margin-left: 10px;
}

.add-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  border: black;
  border-style: solid;
}

.add-form h3 {
  display: inline;
  padding: 0;
  margin: 0 0 10px 0;
}

.add-form-content {
  padding: 20px;
  background-color: var(--color-secondary);
}

.add-form-content span {
  position: absolute;
  top: 2px;
  right: 5px;
}

.add-form-content span:hover {
  cursor: pointer;
}

.sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.sections section {
  padding: 0 50px 0 0;
}

.single-filter-section {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--color-primary);
  color: var(--first-background);
}

select#id_subjects option {
  display: none;
}

select#id_subjects option .iniitialOpt {
  display: block;
}

.add-course-form-course {
  margin-top: 10px;
}

.add-course-form-course label {
  margin-right: 5px;
}

.add-course-form-course button {
  padding: 0 70px;
  margin: 5px auto;
  display: block;
}

.single-filter {
  margin: 10px 0px;
  width: 100px;
  height: 50px;
  background-color: #264744;
  border-radius: 100px/50px;
  text-align: center;
}

.single-filter:hover {
  color: #264744;
  background-color: #FFFFFF;
  cursor: pointer;
  border-radius: 100px/50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.active-filter {
  color: #264744;
  background-color: #FFFFFF;
  cursor: pointer;
  border-radius: 100px/50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
/*# sourceMappingURL=style.css.map */