

<div class="professor-home">
    <h2>Hi Student {{user.username}}</h2>
    <!-- <section class="subjects section">
        <div class="section-header ">
            <h2>Your Subjects</h2> <button class="subject-add-btn">Add</button>
        </div>
    <div class="subject-add-section">
            <select>
                <option selected>All</option>
                <option>Calculus I</option>
                <option>Calculus II</option>
                <option>Calculus III</option>
                <option> Linear Algebra</option>
            </select>
    </div>
    <div class="user-subjects-list">
    </div>
    </section>
    <section class="courses-section section">
        <div class="section-header">
            <h2>Your Courses</h2> 
            <button class="course-add-btn">Add</button>
        </div>
    <div class="course-add-section" style="background-color: beige;">
        
    </div>
        <div class="user-courses-list">
            <div class="single-course">
                <h4 class="course-subject">Linear Algebra</h4>
                <h2 class="course-title">LALG-4040</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Linear Algebra</h4>
                <h2 class="course-title">LALG-4041</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Linear Algebra</h4>
                <h2 class="course-title">LALG-4042</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus I</h4>
                <h2 class="course-title">CALI-4052</h2>
            </div>
            <!-- <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2>
            </div>
            <div class="single-course">
                <h4 class="course-subject">Calculus III</h4>
                <h2 class="course-title">CALIII-4052</h2> -->
        </div>
    </section> -->
    
    
    </div>
</div>